/* background: #392f2f; 
background: #3a7563; 
background: #59a985; 
background: #e6d3a7;  */

.balance-block{
    display: flex;
    margin: 10px;

    h2.money{
        color: #59a985
    }

    h2{
        padding: 15px;
    }
}
