.category-list {
    list-style: none;
    display: grid;
    /* justify-items: center; */

    li {
        background-color: rgb(102, 116, 132);
        color: white;
        display: grid;
        grid-template-columns: repeat(auto-fill,10em);
        padding: 10px;
        border-bottom: 3px solid black;
    }
}

.sub-panel {
    display:table;
}