.transac-list {
    list-style: none;
    /* display: grid; */
    width: 60%;
}

.transac-card {
    background-color:rgb(137, 120, 146);
    color: white;
    padding: 10px;
    border-bottom: 3px solid black;
    
    display: grid;
    grid-template-columns: repeat(auto-fill,10em);
    /* flex-direction: row;
    justify-content: end;
    align-items: center; */
    gap:20px;

    .text {
        margin: 0px;
    }

    .income-amount {
        color: gold;
    }

    .spent-amount {
        color: black
    }
}

.transac-card:hover{
    background-color:rgb(69, 60, 73);
}

.pokemon-card:hover{
        background-color:darkorange;
        color: black;
    }

