.Header-title {
    display: flex;
    justify-content: center;
}

header{
    display: grid;
    color:   #3b025e;
    background-color: #b4acb7;

    ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            cursor:pointer;
            /* border: 1px solid #000; */
            padding: 10px;
            font-size: 20px;
        }
    }
}


.subtitle {
    margin: 10px
}