.Header-title {
    display: flex;
    justify-content: center;
}

header{
    display: grid;
    color: rgb(56, 56, 56);
    background-color: rgb(185, 152, 61);

    ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            cursor:pointer;
            /* border: 1px solid #000; */
            padding: 10px;
            font-size: 20px;
        }
    }
}


.subtitle {
    margin: 10px
}