* {
  box-sizing: border-box;
  font-family: 'Inter', 'Segoe UI', Roboto, Arial, sans-serif;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

body{
  margin: 0;
  padding: 0;
  background-color:#dcdbd6;
}
