version: 1
formatters:
  brief:
    format: '%(name)s - %(levelname)s - %(message)s'
  simple:
    format: '[%(module)s] - %(message)s'
  detailed:
    format: '%(asctime)s %(module)-15s %(name)-15s line:%(lineno)-4d %(levelname)-8s %(message)s'
  email:
    format: 'Timestamp: %(asctime)s\nModule: %(module)s\n Line: %(lineno)d\nMessage: %(message)s'
handlers:
  console:
    class: logging.StreamHandler
    level: INFO
    formatter: simple
    stream: ext://sys.stdout
  file:
    class: logging.handlers.RotatingFileHandler
    level: DEBUG
    formatter: detailed
    filename: D:/logs/app.log
    mode: w
    maxBytes: 10485760
    backupCount: 5
    encoding: utf-8
root:
  level: DEBUG
  handlers: [console,file]